*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.roboto{
    font-family: 'Roboto', sans-serif;
}

/*----------Utility----------*/
.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #2b62ea;
}

.home-button{
    text-decoration: none;
}

.upper{
    text-transform: uppercase;
}

.active{
    color: white;
}

.label{
    text-decoration: none;
    padding: 8px;
    border-radius: 40px;
}

.f-w-b{
    font-weight: bold;
}

.f-white{
    color: white;
}

.b-arrow::before{
    display: inline-block;
    content: '🡇';
    color: black;
    font-size: 15px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*----------Utility----------*/

.logo{
    margin-left: 0;
    vertical-align: middle;
}


.head nav{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin-left:15%;
}

nav ul li{
    display: inline-block;
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

/*----------Label----------*/
.access{
    color: black;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    vertical-align: middle;
    margin-top: 1.5%;
}

.download-for-mac{
    background-color: white;
    color: black;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15%;
}

.open-browser{
    background-color: black;
    color: white;
    display: inline-block;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/*----------Label----------*/

/*----------Hero----------*/
.hero{
    height: calc(70vh - 80px);
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero div h2{
    font-size: 50px;
    text-align: center;
}

.hero div p{
    font-size: 15px;
    text-align: center;
}
/*----------Hero----------*/


/*----------Main-Section----------*/
main{
    height: 100%;
}
.main-section{
    height: 90vh;
}

/*---------sec-1----------*/
.sec-1 .row{
    width: 60%;
    margin-top: 10%;
    float:left;
}

.sec-1 .text{
    float: left;
    margin-top: 13%;
    margin-left: 1%;
    height: 70%;
    width: 20%;
}
/*---------sec-1----------*/

/*---------sec-2----------*/
.sec-2 .row{
    width: 60%;
    float:right;
    margin-right: 15%;
}

.sec-2 .text{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    height: 70%;
    width: 20%;
}
/*---------sec-2----------*/

/*---------sec-3----------*/
.sec-3 .row{
    width: 60%;
    float:left;
}

.sec-3 .text{
    float: left;
    margin-top: 3%;
    height: 70%;
    width: 20%;
}
/*---------sec-3----------*/

/*---------sec-4----------*/
.sec-4{
    margin-bottom: 15%;
}

.sec-4 img{
    margin-left: 15%;
    margin-right: 15%;
}

.sec-4 h2{
    display: inline;
    text-align: center;
    margin-left: 25%;
}

.sec-4 p{
    display: inline;
    text-align: center;
}

#star{
    margin-left: 30%;
}

.sec-4 h3{
    text-align: center;  
}

.sec-4 a{
    margin-top: 2vh;
    margin-left: 43%;
    background-color: rgba(152, 125, 177, 0.781);
}

/*---------sec-4----------*/

/*----------Main-Section----------*/

footer{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.829);
}
/*----------section-4-column----------*/
.column-1 a i{
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}

.column-1 img{
    width: 20px;
}

.arrow::after{
    display: inline-block;
    content: '⌄';
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 3px;
    color: white;
}

.column-1 .arrow{
    font-size: 15px;
    color: white;
}

.column-1 h2{
    font-size: 35px;
    color: rgb(101, 181, 207);
    display: inline-block;
    top: 0;
    left:0;
    margin-top: 30%;
    margin-bottom: 2%;
}

.column-1{
    width: 30%;
    float: left;
}

.column-2{
    width: 10%;
    float: left;
    margin-top: 10%;
    margin-right: 5%;
}

.column-3{
    width: 10%;
    float: left;
    margin-top: 10%;
    margin-right: 5%;
}

.column-4{
    width: 10%;
    float: left;
    margin-top: 10%;
    margin-right: 5%;
}

.column-5{
    width: 10%;
    float: left;
    margin-top: 10%;
    margin-right: 5%;
}

.foot-a{
    text-decoration: none;
    display: block;
    margin-bottom: 2%;
}
/*----------section-4-column----------*/
